@charset "UTF-8";
@keyframes up {
  0% {
    transform: translateY(0); /* Bắt đầu từ vị trí hiện tại */
  }
  100% {
    transform: translateY(-5px); /* Bay lên 50px */
  }
}
@font-face {
  font-family: "mon-900";
  src: url("../font/Montserrat/static/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-900";
  src: url("../font/Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-800";
  src: url("../font/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-800";
  src: url("../font/Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-700";
  src: url("../font/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-700";
  src: url("../font/Montserrat/static/Montserrat-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-600";
  src: url("../font/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-600";
  src: url("../font/Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-500";
  src: url("../font/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-500";
  src: url("../font/Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-400";
  src: url("../font/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-400";
  src: url("../font/Montserrat/static/Montserrat-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-300";
  src: url("../font/Montserrat/static/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-300";
  src: url("../font/Montserrat/static/Montserrat-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-200";
  src: url("../font/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-200";
  src: url("../font/Montserrat/static/Montserrat-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-100";
  src: url("../font/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-100";
  src: url("../font/Montserrat/static/Montserrat-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-900";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Black.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-900";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-800";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-800";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-700";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-700";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-600";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-600";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-500";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-500";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-400";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-400";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-RegularItalic.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "fw-400";
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #333333;
}

body {
  padding: 0;
  margin: 0;
}

.prevent-scroll {
  overflow: hidden;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: center;
}

table {
  border-collapse: collapse;
}

/* Mobile */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.col {
  padding-left: 6px;
  padding-right: 6px;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-0 {
  margin-left: 0;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 768px) {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .col {
    padding-left: 10px;
    padding-right: 10px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-0 {
    margin-left: 0;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC medium resolution > */
@media (min-width: 992px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-0 {
    margin-left: 0;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}
.delete {
  display: none;
}

.fp-watermark {
  display: none;
}

#fp-nav {
  left: 15px !important;
}
#fp-nav ul li {
  margin: 24px 0;
  width: 12px;
  height: 12px;
  align-items: center;
}
#fp-nav ul li a {
  background-color: rgba(61, 61, 61, 0.6);
  border-radius: 50%;
  transition: all ease 0.3s;
  transition: all ease 0.3s;
}
#fp-nav ul li a span {
  display: none;
}
#fp-nav ul li a::before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #D3A845;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  transition: all ease 0.3s;
}
#fp-nav ul li a::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background-color: rgba(223, 162, 68, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 50px;
  opacity: 0;
  transition: all ease 0.3s;
}
#fp-nav ul li a.active, #fp-nav ul li a:hover {
  background-color: #D3A845;
}
#fp-nav ul li a.active + .fp-tooltip, #fp-nav ul li a:hover + .fp-tooltip {
  opacity: 1;
  width: auto;
  color: #D3A845 !important;
}
#fp-nav ul li a.active::before, #fp-nav ul li a:hover::before {
  width: 30px;
}
#fp-nav ul li a.active::after, #fp-nav ul li a:hover::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
#fp-nav ul li .fp-tooltip {
  color: #FFFFFF !important;
  left: 30px !important;
  text-transform: uppercase;
  font-size: 12px !important;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1370px;
  }
}
@media (min-width: 992px) {
  .hide-on-desktop {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .hide-on-tablet {
    display: none !important;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
}
.breadcrumb {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
@media (max-width: 767px) {
  .breadcrumb {
    padding-top: 12px;
  }
}
.breadcrumb li {
  text-transform: uppercase;
  font-family: mon-300;
}
@media (max-width: 767px) {
  .breadcrumb li {
    font-size: 12px;
  }
}
.breadcrumb li:not(:last-child)::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 12px;
}
.breadcrumb li a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 10px;
  white-space: nowrap;
  transition: all ease 0.3s;
}
.breadcrumb li a:hover {
  color: blue;
}

.btn {
  display: block;
  text-transform: uppercase;
  line-height: 1;
  background-color: #008C50;
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #FFFFFF;
  border: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .pagination {
    margin-top: 30px;
  }
}
.pagination a {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  text-decoration: none;
  font-family: mon-600;
  margin: 8px;
  border-radius: 5px;
  transition: all ease 0.3s;
}
.pagination a.active, .pagination a:hover {
  background-color: blue;
  color: #FFFFFF;
  transform: translateY(-2px);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all linear 0.6s;
}
.header.active {
  background-color: #FFFFFF;
  bottom: 0;
}
.header.active .header__bars {
  color: #D3A845;
}
.header.active .header__icon {
  transform: rotate(180deg);
}
.header.active .header__icon .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
}
.header.active .header__icon .btn-line:nth-child(2) {
  opacity: 0;
}
.header.active .header__icon .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}
.header.active .header__icon .btn-line {
  background-color: #D3A845;
}
.header.active .header__contact {
  color: #D3A845;
}
.header.active .header__bottom {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  height: auto;
}
.header .header__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease 0.3s;
  padding: 10px 30px;
}
.header .header__bars {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #FFFFFF;
  transition: all ease 0.3s;
}
.header .header__bars span {
  padding-left: 10px;
}
@media (max-width: 991px) {
  .header .header__bars span {
    display: none;
  }
}
.header .header__icon {
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.header .btn-line {
  width: 40px;
  height: 3px;
  padding: 2px;
  margin: 0 0 6px 0;
  background: #FFFFFF;
  transition: all 0.5s ease-out;
}
.header .header__logo {
  position: absolute;
  top: 10px;
  left: 50%;
  height: 50px;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  .header .header__logo {
    top: 5px;
    height: calc(100% - 10px);
  }
}
.header .header__logo img {
  height: 100%;
}
.header .header__right {
  display: flex;
  align-items: center;
}
.header .header__contact {
  text-decoration: none;
  font-size: 24px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.header .header__contact span {
  margin-left: 8px;
  font-weight: bolder;
  font-family: "Montserrat";
  font-size: 16px;
}
@media (max-width: 991px) {
  .header .header__contact span {
    display: none;
  }
}
.header .header__contact:hover {
  color: #D3A845;
}
.header .header__bottom {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  height: 0;
  transition: all linear 0.6s;
}
.header .header__list {
  margin: 40px 0 0 0;
  display: flex;
  width: 100%;
}
.header .header__list ul {
  padding-left: 0;
  margin: auto;
  list-style: none;
  width: 100%;
  text-align: center;
}
.header .header__list ul li {
  margin-bottom: 20px;
}
.header .header__list ul li a {
  text-decoration: none;
  color: #008C50;
  font-size: 32px;
  text-transform: uppercase;
  padding: 8px 80px;
  transition: all ease 0.5s;
}
@media (max-width: 991px) {
  .header .header__list ul li a {
    width: 100%;
    font-size: 24px;
    white-space: nowrap;
  }
}
.header .header__list ul li a:hover, .header .header__list ul li a.active {
  background: linear-gradient(90deg, #ffffff 0%, #D3A845 30%, #D3A845 67%, #ffffff 100%);
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
}

.slick-dots {
  position: absolute;
  top: 100%;
  left: 50%;
  list-style: none;
  display: block;
  display: flex;
  padding-left: 0;
  margin: 0;
  align-items: center;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #008C50;
  outline: 0;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: all ease 0.3s;
}

.slick-dots .slick-active button {
  background-color: #008C50;
}

.fp-overflow {
  overflow-y: initial !important;
}

.home-banner {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
@media (max-width: 991px) {
  .home-banner {
    height: auto;
  }
}
.home-banner--small {
  height: 50vh;
}
.home-banner--desk {
  height: 75vh;
}
.home-banner__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
@media (max-width: 991px) {
  .home-banner__body {
    position: relative;
    top: 0;
    left: 0;
    transform: unset;
    padding: 40px 0;
  }
}
.home-banner__body--bot {
  top: unset;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
}
@media (max-width: 991px) {
  .home-banner__body--bot {
    position: absolute;
    transform: translateX(-50%);
    padding: 0;
  }
}
.home-banner__flex {
  display: flex;
  justify-content: space-between;
}
.home-banner__title {
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: bolder;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .home-banner__title {
    font-size: 24px;
  }
}
.home-banner__video {
  width: 100px;
  height: 100px;
  display: flex;
  text-decoration: none;
  position: relative;
  transition: all ease 0.3s;
}
@media (max-width: 991px) {
  .home-banner__video {
    width: 50px;
    height: 50px;
  }
}
.home-banner__video::before, .home-banner__video::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}
.home-banner__video::before {
  border-color: #ffffff transparent #ffffff #ffffff;
}
.home-banner__video::after {
  width: 130%;
  height: 130%;
  border-color: #ffffff #ffffff #ffffff transparent;
  animation: spin 4s linear infinite;
}
.home-banner__video i {
  font-size: 48px;
  color: #FFFFFF;
  margin: auto;
}
@media (max-width: 991px) {
  .home-banner__video i {
    font-size: 24px;
  }
}

.home-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-content--half {
  width: 50%;
}
.home-content__header {
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 24px;
  line-height: 30px;
  color: #008C50;
  margin-bottom: 20px;
}
@media (max-width: 991px) {
  .home-content__header {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
.home-content__header--center {
  text-align: center;
}
.home-content__description {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 991px) {
  .home-content__description {
    margin-bottom: 10px;
  }
}
.home-content__title {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 5px;
  color: #008C50;
}
@media (max-width: 991px) {
  .home-content__title {
    font-size: 16px;
  }
}
.home-content--right {
  align-items: flex-end;
  text-align: right;
}
@media (max-width: 991px) {
  .home-content--right {
    align-items: flex-start;
    text-align: left;
  }
}
.home-content__table {
  table-layout: auto;
  width: 100%;
  font-family: "Montserrat";
}
.home-content__table th, .home-content__table td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.home-content__table th {
  color: #FFFFFF;
  background-color: #008C50;
}

.home-image {
  width: 100%;
  position: relative;
}
@media (max-width: 991px) {
  .home-image {
    margin: 60px 40px 30px 40px;
  }
}
.home-image::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: -20px;
  width: 65%;
  height: calc(100% + 50px);
  border: 2px solid #008C50;
}
.home-image img {
  width: 70%;
  display: block;
  margin-left: 10%;
  position: relative;
  height: 500px;
}

@media (max-width: 991px) {
  .home-slider .home-banner {
    height: 80vh;
  }
}

.home-wrap {
  height: 100%;
}
@media (max-width: 991px) {
  .home-wrap {
    margin-top: 20px;
  }
}
.home-wrap__item {
  text-decoration: none;
  color: #3d3d3d;
  display: block;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin: 8px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
}
.home-wrap__image {
  display: flex;
  padding-top: 100%;
  position: relative;
}
.home-wrap__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
}
.home-wrap__body {
  display: flex;
  font-family: "Montserrat";
  align-items: center;
  background: #FFFFFF;
  padding: 5px;
}
.home-wrap__number {
  text-align: center;
  width: 20%;
  align-items: center;
  font-size: 47px;
  color: #008C50;
  margin: 10px;
  justify-content: center;
  display: flex;
  border-right: 1px solid #008C50;
}
.home-wrap__title {
  text-align: left;
  width: 80%;
  align-items: center;
  font-size: 16px;
  color: #333333;
  justify-content: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  padding-left: 5px;
  max-height: 3em;
}

.personSlider {
  width: 80%;
  font-family: "Montserrat";
}

.personSlider__title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.personSlider__description {
  font-size: 14px;
  color: grey;
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.newSlider {
  font-family: "Montserrat";
}

.newSlider__title {
  font-weight: bold;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  padding-bottom: 5px;
}

.newSlider__date {
  padding-bottom: 5px;
}

.newSlider__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.home-partner {
  height: 100%;
}
.home-partner__element {
  text-decoration: none;
  color: #3d3d3d;
  display: block;
  overflow: hidden;
  margin: 8px;
}
.home-partner__element img {
  width: 100%;
  height: auto;
  display: inline-block;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center;
  margin: 0 20px 20px 0;
}

.home-contact {
  font-family: "Montserrat";
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}
@media (max-width: 991px) {
  .home-contact {
    height: auto;
    padding: 60px 0 60px 10px;
  }
}
.home-contact__item {
  margin-bottom: 20px;
  padding-right: 20px;
}
.home-contact__title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
.home-contact__content {
  text-decoration: none;
}
.home-contact__flex {
  display: flex;
  flex-direction: row;
}
.home-contact__flex span {
  margin: 0 5px 0 5px;
}
.home-contact__socials {
  display: flex;
}
.home-contact__socials a {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-right: 15px;
  position: relative;
}
.home-contact__socials a img {
  width: 30px;
  height: auto;
}
.home-contact__image {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.home-form {
  font-family: "Montserrat";
}
.home-form__element {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.home-form__label {
  color: #333333;
}
.home-form__input {
  border: none;
  border-bottom: 1px solid #333333;
  height: 32px;
  padding-top: 8px;
}
.home-form__input:focus {
  outline: none;
}

.product {
  padding: 60px;
}
.product__item {
  text-decoration: none;
  padding: 10px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  display: block;
  border-radius: 5px;
  margin-top: 30px;
  transition: all ease 0.3s;
}
.product__item__image {
  width: 100%;
  height: auto;
}
.product__item__name {
  text-align: center;
  color: #333333;
  font-size: 24px;
  font-family: mon-600;
  margin-top: 8px;
  transition: all linear 0.3s;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  transition: all linear 0.3s;
}
@media (max-width: 991px) {
  .product__item__name {
    font-size: 20px;
  }
}

.tabList {
  align-items: center;
  display: flex;
  margin: 20px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.tabList a {
  display: block;
  padding: 15px 30px;
  border: 1px solid #333333;
  border-radius: 10px;
  line-height: 1;
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
}
.tabList a.active {
  background-color: #008C50;
  color: #FFFFFF;
}

.detailProduct {
  margin: 40px 0 100px 0;
}
.detailProduct__image__for img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.detailProduct__image__nav {
  margin-left: 50px;
}
.detailProduct__info {
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px 10px;
}
.detailProduct__name {
  font-size: 32px;
  font-family: "mon-700";
  color: #008C50;
}
@media (max-width: 991px) {
  .detailProduct__name {
    font-size: 22px;
  }
}
.detailProduct__header {
  font-size: 18px;
  font-family: "mon-600";
}
@media (max-width: 991px) {
  .detailProduct__header {
    font-size: 16px;
  }
}
.detailProduct__body {
  font-size: 16px;
  font-family: "mon-400";
  padding-left: 20px;
}
@media (max-width: 991px) {
  .detailProduct__body {
    font-size: 14px;
  }
}
.detailProduct__body img {
  width: 100%;
  height: auto;
}
.detailProduct__body table {
  width: 100%;
}
.detailProduct__body table td {
  border: 1px solid #333333;
  text-align: center;
}
.detailProduct__body table tr td:first-child {
  font-weight: bold;
}
.detailProduct__bottom {
  font-size: 18px;
  font-family: "mon-500";
  margin: 20px 0;
}
.detailProduct__bottom span {
  color: #008C50;
}
.detailProduct__btn {
  text-decoration: none;
  background-color: blue;
  font-size: 18px;
  padding: 20px;
  font-family: "mon-500";
  margin-bottom: 15px;
}
.detailProduct__btn:hover {
  opacity: 0.8;
}

.activity {
  width: 50%;
  padding: 30px 60px;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 5px;
  color: #FFFFFF;
}
.activity--right {
  margin-left: auto;
}
.activity--left {
  margin-right: auto;
}
.activity__num {
  font-size: 64px;
  color: #D3A845;
  font-family: "play-900";
}
.activity__title {
  font-size: 28px;
  font-family: "mon-500";
  margin-bottom: 20px;
}
.activity__description {
  font-size: 16px;
  font-family: "mon-400";
  margin-bottom: 20px;
}
.activity__button {
  text-decoration: none;
  font-family: "mon-400";
}

.requirement {
  margin: 60px 0;
}
.requirement table tr :first-child {
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
