@charset "UTF-8";
@keyframes up {
  0% {
    transform: translateY(0); /* Bắt đầu từ vị trí hiện tại */
  }
  100% {
    transform: translateY(-5px); /* Bay lên 50px */
  }
}
@font-face {
  font-family: "mon-900";
  src: url("../font/Montserrat/static/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-900";
  src: url("../font/Montserrat/static/Montserrat-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-800";
  src: url("../font/Montserrat/static/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-800";
  src: url("../font/Montserrat/static/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-700";
  src: url("../font/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-700";
  src: url("../font/Montserrat/static/Montserrat-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-600";
  src: url("../font/Montserrat/static/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-600";
  src: url("../font/Montserrat/static/Montserrat-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-500";
  src: url("../font/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-500";
  src: url("../font/Montserrat/static/Montserrat-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-400";
  src: url("../font/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-400";
  src: url("../font/Montserrat/static/Montserrat-RegularItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-300";
  src: url("../font/Montserrat/static/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-300";
  src: url("../font/Montserrat/static/Montserrat-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-200";
  src: url("../font/Montserrat/static/Montserrat-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-200";
  src: url("../font/Montserrat/static/Montserrat-ExtraLightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "mon-100";
  src: url("../font/Montserrat/static/Montserrat-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "mon-i-100";
  src: url("../font/Montserrat/static/Montserrat-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-900";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Black.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-900";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-800";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-800";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-ExtraBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-700";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-700";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-600";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-600";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-500";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-500";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "play-400";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "play-i-400";
  src: url("../font/Playfair_Display/static/PlayfairDisplay-RegularItalic.ttf") format("truetype");
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  font-family: "fw-400";
  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;
  color: #333333;
}

body {
  padding: 0;
  margin: 0;
}

.prevent-scroll {
  overflow: hidden;
}

/* Mobile */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
}

.col {
  padding-left: 6px;
  padding-right: 6px;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-0 {
  margin-left: 0;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 768px) {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .col {
    padding-left: 10px;
    padding-right: 10px;
  }
  .m-0 {
    display: none;
  }
  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .m-o-0 {
    margin-left: 0;
  }
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC medium resolution > */
@media (min-width: 992px) {
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
  .col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .l-o-0 {
    margin-left: 0;
  }
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1370px;
  }
}
@media (min-width: 992px) {
  .hide-on-desktop {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .hide-on-mobile-tablet {
    display: none !important;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .hide-on-tablet {
    display: none !important;
  }
}
/* Mobile */
@media (max-width: 767px) {
  .hide-on-mobile {
    display: none !important;
  }
}
.breadcrumb {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}
@media (max-width: 767px) {
  .breadcrumb {
    padding-top: 12px;
  }
}
.breadcrumb li {
  text-transform: uppercase;
  font-family: mon-300;
}
@media (max-width: 767px) {
  .breadcrumb li {
    font-size: 12px;
  }
}
.breadcrumb li:not(:last-child)::after {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
  font-size: 12px;
}
.breadcrumb li a {
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 10px;
  white-space: nowrap;
  transition: all ease 0.3s;
}
.breadcrumb li a:hover {
  color: blue;
}

.btn {
  display: block;
  text-transform: uppercase;
  line-height: 1;
  background-color: #008C50;
  width: fit-content;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: #FFFFFF;
  border: 0;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .pagination {
    margin-top: 30px;
  }
}
.pagination a {
  width: 40px;
  height: 40px;
  border: 1px solid blue;
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
  text-decoration: none;
  font-family: mon-600;
  margin: 8px;
  border-radius: 5px;
  transition: all ease 0.3s;
}
.pagination a.active, .pagination a:hover {
  background-color: blue;
  color: #FFFFFF;
  transform: translateY(-2px);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
  height: 81px;
  width: 100%;
  padding: 10px 45px 10px 45px;
  font-size: 24px;
  color: #FFFFFF;
}

.header__left {
  display: flex;
  font-family: fw-300;
}

.header__right {
  display: flex;
  justify-content: space-between;
}

.header img {
  width: 73px;
  height: 61px;
}

.header__right-contact {
  cursor: pointer;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.header__right-contact:hover {
  color: #D3A845;
}

.header__right-contact i {
  margin-right: 5px;
}

#fp-nav ul li a.active span {
  background: #D3A845;
}

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
  color: #D3A845;
  padding-left: 15px;
  font-size: 15px;
  align-items: center;
}

a:hover {
  text-decoration: none;
}

.container img {
  width: 100%;
  height: 100vh;
}

.slick-dots {
  position: absolute;
  top: 100%;
  left: 50%;
  list-style: none;
  display: block;
  display: flex;
  padding-left: 0;
  margin: 0;
  align-items: center;
}

.slick-dots li {
  margin: 0 4px;
}

.slick-dots li button {
  font-size: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #008C50;
  outline: 0;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: all ease 0.3s;
}

.slick-dots .slick-active button {
  background-color: #008C50;
}

.news-background {
  background-image: url("../../img/1G7A4053.png");
  background-size: cover; /* Makes the background image cover the entire element */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.banner-background {
  background-image: url("../../img/banner_real.png");
  background-size: cover; /* Makes the background image cover the entire element */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  width: 100%;
  height: 100vh;
}

.intro-background {
  background-image: url("../../img/1G7A4053.png");
  background-size: cover; /* Makes the background image cover the entire element */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.project-background {
  background-image: url("../../img/1G7A4053.png");
  background-size: cover; /* Makes the background image cover the entire element */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.overlay-content {
  position: absolute;
  top: 50%; /* Căn chỉnh dọc */
  left: 50%; /* Căn chỉnh ngang */
  transform: translate(-50%, -50%); /* Để căn giữa chính xác */
  width: 100%;
}

.intro {
  display: flex;
  width: 100%;
}

.intro-content {
  text-align: right;
  font-family: "Montserrat";
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 45px 90px 45px 45px;
}

.intro-content__title {
  font-size: 16px;
  font-weight: 600;
  color: #008C50;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.intro-content__subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 57.29px;
  color: #008C50;
  margin-bottom: 5px;
}

.intro-content__text {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  margin-bottom: 5px;
}

.intro-image {
  width: 300px;
  background-repeat: no-repeat;
  display: block;
  background: url("../../img/Rectangle 4.png");
  position: relative;
  background-size: cover;
}

.intro-image::after {
  content: "";
  width: 100%;
  height: 110%;
  position: absolute;
  display: block;
  border: #008C50 solid 2px;
  top: -10px;
  right: 45px;
  z-index: -1;
}

.home-activity__background {
  background-image: url("../../img/1G7A4053.png");
  background-size: cover; /* Makes the background image cover the entire element */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  width: 100%;
  height: 100vh;
  opacity: 0.2;
}

.home-activity {
  display: flex;
  width: 100%;
  padding: 50px;
  height: 400px;
  flex-wrap: wrap;
}

.home-activity-content {
  text-align: left;
  font-family: "Montserrat";
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 45px 90px 45px 60px;
}

.home-activity-content__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 57.29px;
  color: #008C50;
  margin-bottom: 5px;
}

.home-activity-content__description {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  margin-bottom: 5px;
}

.home-activity-carousel {
  width: 60%;
  display: flex;
}

.home-activity-carousel-element {
  height: 300px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
}

.home-activity-carousel-element__img {
  width: 100%;
  height: 70%;
  display: block;
  object-fit: cover;
}

.home-activity-carousel-element-footer {
  display: flex;
  font-family: "Montserrat";
  align-items: center;
  background: #FFFFFF;
  padding: 5px;
}

.home-activity-carousel-element-footer__left {
  text-align: center;
  width: 30%;
  align-items: center;
  font-size: 47px;
  color: #008C50;
  padding: 5px;
  justify-content: center;
  display: flex;
  border-right: 1px solid #008C50;
}

.home-activity-carousel-element-footer__right {
  text-align: left;
  width: 70%;
  align-items: center;
  font-size: 16px;
  color: #333333;
  justify-content: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  padding-left: 5px;
  max-height: 3em;
  text-transform: uppercase; /* Approx height for 2 lines */
}

.home-contact {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.home-contact-info {
  font-family: "Montserrat";
  height: 100vh;
}

.home-contact-title {
  font-size: 30px;
  line-height: 1.2;
  color: #008C50;
  margin: 0 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat";
  padding-left: 10px;
}

.home-contact-subtitle {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 10px 0px;
}

.home-contact-info__content {
  padding-bottom: 5px;
  text-decoration: none;
  color: #333333;
}

.home-contact-info__socials {
  display: flex;
}

.home-contact-info__socials a {
  text-decoration: none;
  display: block;
  width: fit-content;
  margin-right: 15px;
  position: relative;
}

.home-contact-info__socials a img {
  width: 30px;
}

.home-contact-info__button {
  margin-top: 29px;
}

.home-contact-form {
  font-family: "Montserrat";
}

.home-contact-form-element {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
}

.home-contact-form-element__label {
  color: #333333;
}

.home-contact-form-element__input {
  border: none;
  border-bottom: 1px solid #333333;
  height: 32px;
  padding-top: 8px;
}

.home-contact-form__button {
  margin-top: 15px;
}

.home-contact-form-element__input:focus {
  outline: none;
}

.home-contact-image {
  width: 100%;
  height: auto;
}

.home-contact-left {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.home-contact-padding {
  padding: 60px;
}

.home-project {
  width: 100%;
  padding: 40px 100px 0px 100px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
}

.home-project-heading {
  font-family: "Montserrat";
  padding-bottom: 20px;
}

.home-project-heading__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 57.29px;
  color: #008C50;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.home-project-heading__description {
  font-size: 14px;
  color: #333333;
  line-height: 24px;
  margin-bottom: 5px;
}

.home-project-carousel-element {
  height: 330px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

.home-storage {
  width: 100%;
  padding: 50px 100px 50px 100px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
}

.home-storage-table {
  table-layout: auto;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
}

table {
  border-collapse: collapse;
}

.home-storage table th {
  color: #FFFFFF;
  background-color: #008C50;
}

.home-storage table td {
  padding: 8px;
}

.home-storage table th {
  padding: 8px;
}

.home-storage-image {
  height: 100%;
}

.home-storage-left {
  height: 100%;
}

.storage-image {
  width: 300px;
  height: 100%;
  background-repeat: no-repeat;
  display: block;
  background: url("../../img/Rectangle 4.png");
  position: relative;
  background-size: cover;
}

.storage-image::after {
  content: "";
  width: 100%;
  height: 110%;
  position: absolute;
  display: block;
  border: #008C50 solid 2px;
  top: -10px;
  right: 45px;
  z-index: -1;
}

.home-storage-content {
  font-family: "Montserrat";
}

.home-storage-content__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 57.29px;
  color: #008C50;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.home-storage-content__description {
  font-size: 14px;
  color: #333333;
  line-height: 1.5;
  margin-bottom: 5px;
}

.home-news {
  width: 100%;
  padding: 50px 100px 50px 100px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-news-top {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  font-family: "Montserrat";
  padding-bottom: 20px;
  align-items: center;
}

.home-news-top__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 57.29px;
  color: #008C50;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.home-news-top___button {
  margin: 10px;
}

.home-news-bottom {
  height: 100%;
  padding-top: 40px;
}

.home-news-carousel-element {
  height: 400px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  margin-right: 20px;
}

/*# sourceMappingURL=main.css.map */
